/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.gwtb3-d {
    font-size: 11px;
    text-align: right;
}
.gwtb3-cell{
    font-size: 11px;
    text-align: right;
}
.letra-Carrito {
    font-family: Trebuchet MS;
    font-variant-caps: all-petite-caps;
}